<h2><%= episode["title"] %></h2>
<div  class = "row">
  <div id="media" class="span">
    <object id="csSWF" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="500" height="570" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0">
      <param name="src" value="<%=episode["name"]%>/media/player.swf"/>
      <param name="bgcolor" value="#1a1a1a"/>
      <param name="quality" value="best"/>
      <param name="allowScriptAccess" value="always"/>
      <param name="allowFullScreen" value="true"/>
      <param name="scale" value="showall"/>
      <param name="flashVars" value="thumb=<%=episode["name"]%>/media/FirstFrame.png&containerwidth=840&containerheight=570&content=<%=episode["name"]%>.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true"/>
      <embed name="csSWF" src="<%=episode["name"]%>/media/player.swf" width="840" height="570" bgcolor="#1a1a1a" quality="best" allowScriptAccess="always" allowFullScreen="true" scale="showall" flashVars="thumb=<%=episode["name"]%>/media/FirstFrame.png&containerwidth=840&containerheight=570&content=<%=episode["name"]%>.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true&color=0x1A1A1A,0x1A1A1A" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
    </object>
  </div>
  <div class="span6">
    <h3>Keys</h3>
    <table class="bordered-table">
      <tbody>
        <% episode["keys"].each do |(k,v)| %>
        <tr>
          <th><%= k %></th>
          <td><%= v %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Tags</h3>
    <%= episode["tags"].map{|t| "<a href=\"\\#{t}\">#{t}</a>"}.join(",") %>
  </div>
</div>
